<main>
  <section class="word-details">
    <header class="word-details__introduction">
      <h2 class="word-details__word">push</h2>

      <div class="word-details-pronunciation">
        <button class="listen-to-pronunciation-button" (click)="playPronunciationAudio()">
          <svg
            fill="#000000"
            viewBox="0 0 1920 1920"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M1129.432 113v1694.148H903.545l-451.772-451.773V564.773L903.545 113h225.887Zm542.545 248.057C1832.017 521.097 1920 733.882 1920 960.107c0 226.226-87.983 438.898-248.023 598.938l-79.851-79.85c138.694-138.582 214.93-323.018 214.93-519.087 0-196.183-76.236-380.506-214.93-519.2ZM338.83 564.773v790.602H169.415C75.672 1355.375 0 1279.703 0 1185.96V734.187c0-93.742 75.672-169.414 169.415-169.414H338.83Zm1093.922 36.085c95.776 97.018 148.407 224.644 148.407 359.16 0 134.628-52.631 262.253-148.407 359.272l-80.303-79.174c74.656-75.897 115.767-175.4 115.767-280.099 0-104.585-41.111-204.088-115.767-279.986Z"
              fill-rule="evenodd"
            />
          </svg>
        </button>

        <audio #wordPronunciation>
          <source src="" type="audio/mp3" />
        </audio>

        <p class="ipa-pronunciation-text">/pʊʃ/</p>
      </div>
    </header>

    <hr class="word-details-hr" />

    <section class="word-details__meanings">
      <article class="word-details__meaning">
        <h3 class="grammatical-class">verb (used with object)</h3>

        <ol class="word-details__definitions">
          <li class="word-details__definition">
            <p class="word-details__definition-text">
              to press upon or against
            </p>

            <div class="word-details__examples">
              <p class="word-details__example">
                He pushed the doorbell a few times and heard it ring.
              </p>
              <p class="word-details__example">
                You have to push the door open, not pull it.
              </p>
            </div>
          </li>

          <li class="word-details__definition">
            <p class="word-details__definition-text">
              to press upon or against
            </p>

            <div class="word-details__examples">
              <p class="word-details__example">
                He pushed the doorbell a few times and heard it ring.
              </p>
              <p class="word-details__example">
                You have to push the door open, not pull it.
              </p>
            </div>
          </li>
        </ol>
      </article>

      <article class="word-details__meaning">
        <h3 class="grammatical-class">verb (used with object)</h3>

        <ol class="word-details__definitions">
          <li class="word-details__definition">
            <p class="word-details__definition-text">
              to press upon or against
            </p>

            <div class="word-details__examples">
              <p class="word-details__example">
                He pushed the doorbell a few times and heard it ring.
              </p>
              <p class="word-details__example">
                You have to push the door open, not pull it.
              </p>
            </div>
          </li>
        </ol>
      </article>

      <article class="word-details__meaning">
        <h3 class="grammatical-class">verb (used with object)</h3>

        <ol class="word-details__definitions">
          <li class="word-details__definition">
            <p class="word-details__definition-text">
              to press upon or against
            </p>

            <div class="word-details__examples">
              <p class="word-details__example">
                He pushed the doorbell a few times and heard it ring.
              </p>
              <p class="word-details__example">
                You have to push the door open, not pull it.
              </p>
            </div>
          </li>
        </ol>
      </article>
    </section>
  </section>
</main>
